
        <div class="flex align-items-center gap-2 text-center mb-2">
            <div class="text-900 text-3xl font-medium mb-3">Email sender</div>
        </div>
        
        <div class="mb-2">
            <label  class="block text-900 font-medium mb-2">Select accounts to send from:</label>
            <p-multiSelect
                [options]="myEmailAccountList" 
                [(ngModel)]="selectedMyEmailAccountList" 
                defaultLabel="Add email adresses form you contact list" 
                optionLabel="email" 
                optionValue="id" 
                display="chip"
             ></p-multiSelect>
        </div>
        <div>
            <div class="mb-2">
                <label  class="block text-900 font-medium mb-2">Email adresses:</label>
                <p-chips
                    placeholder="Add email adresses" 
                    [(ngModel)]="mailAdressesTypedManually"
                ></p-chips>
            </div>

            <label  class="block text-900 font-medium mb-2">Add adresses form contact lists:</label>
            <p-multiSelect [options]="emailContactLists" 
                [group]="true" 
                [(ngModel)]="selectedContacts" 
                optionValue="email" 
                optionLabel="email" 
                optionGroupChildren="mails" 
                optionGroupLabel="name"

                defaultLabel="Select contacts emails" 
                scrollHeight="250px" 
                display="chip"
            >
                <ng-template let-group pTemplate="group">
                    <div class="flex align-items-center">
                        <span>{{group.label}}</span>
                    </div>
                </ng-template>
            </p-multiSelect>

            <p-divider></p-divider>
            <label  class="block text-900 font-medium mb-2">
                You want to send {{mailAdressesTypedManually.length + selectedContacts.length}} mails from {{selectedMyEmailAccountList.length}} accounts.
            </label>
            <p-divider></p-divider>
            <label  class="block text-900 font-medium mb-2">Subject</label>
            <input [(ngModel)]="subject" pInputText class="mb-3" style="min-width: 500px">
      
            <label  class="block text-900 font-medium mb-2">Message</label>
            <p-editor [(ngModel)]="message" [style]="{'min-height':'320px'}"></p-editor>
            <div [innerHTML]="message"></div>
            
            <button pButton pRipple label="Send" icon="pi pi-send" class="mt-2" (click)="onSubmit()"></button>
        </div>
 
