<div class="container">
	<div class="form" *ngIf="!done">
		<div class="nav">
			<div class="nav-login">
				<div class="login">Passwrod recovery</div>
				<div>Write the email address that you specified during registration</div>
			</div>
		</div>
		<!-- <form (ngSubmit)="onSubmit()">
			<mat-form-field class="input" appearance="outline">
				<mat-label>Email</mat-label>
				<input matInput type="email" placeholder="********" [formControl]="email" required />
			</mat-form-field>
			<div>Write new password</div>
			<mat-form-field class="input" appearance="outline">
				<mat-label>New password</mat-label>
				<input matInput type="email" placeholder="********" [formControl]="password" required />
			</mat-form-field>
			<div>Repeat new password</div>
            <mat-form-field class="input" appearance="outline">
				<mat-label>Repeat password</mat-label>
				<input matInput type="email" placeholder="********" [formControl]="password2" required />
			</mat-form-field>
			<button mat-flat-button type="submit" color="accent" class="form-button">Reset</button>
		</form> -->
	</div>

	<div class="form" *ngIf="done">
		<div>Now you can login using your new password!</div>
		<div>You will now be redirected to the login page...</div>
	</div>
</div>