<div class="
        flex 
        flex-column 
        align-items-center 
        justify-content-center 
        gap-2 
        border-solid 
        border-round 
        border-primary
        mx-auto
        w-25rem
        p-3
">

    <input id="email1" type="text" placeholder="Email address" pInputText  [formControl]="email">

    <input id="password1" type="text" placeholder="Password" pInputText  [formControl]="pass">

    <button pButton pRipple label="Sign Up" class="p-2" (click)="onSubmit()"></button>
    
    <div class="flex align-items-center justify-content-center">
        <div class="text-500">Already have an account? Sign in!</div>
    </div>
    
	<div class="flex align-items-center gap-2">
        <button pButton pRipple (click)="signupWithFacebook()" class="p-2 p-button-outlined">
            <i class="pi pi-facebook text-indigo-400 mr-2"></i>
            <span>Facebook</span>
        </button>
        <button pButton pRipple (click)="signupWithGoogle()" class="p-2 p-button-outlined">
            <i class="pi pi-google text-pink-400 mr-2"></i>
            <span>Google</span>
        </button>
        <button pButton pRipple label="Sign in" type="button" routerLink="/auth/login" class="p-button-outlined p-2"></button>
	</div>
</div>