:host {
    display: flex;
    justify-content: center;
    align-items: center;

    .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 30px;

        &-avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }   
    }


}