:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    bottom: 0;
    width: 95%;

    .logo {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    .contacts{
        display: flex;
        flex-direction: column;
    }
}