<div class="container">
	<div class="form" *ngIf="!done">
		<div class="nav">
			<div class="nav-login">
				<div class="login">Password recovery</div>
				<div >Write the email address that you specified during registration</div>
			</div>
		</div>
		<!-- <form (ngSubmit)="onSubmit()">
			<mat-form-field class="input" appearance="outline">
				<mat-label>Email</mat-label>
				<input matInput type="email" placeholder="mail@mail.com" [formControl]="email" required />
				<mat-error *ngIf="email.invalid">{{ getEmailError() }}</mat-error>
			</mat-form-field>
			<button mat-flat-button type="submit" color="accent" class="form-button">Reset</button>
		</form> -->
	</div>
	<div class="form" *ngIf="done">
		Password recovery instructions have been sent to your email.
	</div>
</div>
