<div class="contact-list">
    <div class="contact-list-content">

        <p-table [columns]="selectedColumns" [value]="currentContactList?.mails">
            <ng-template pTemplate="caption">
                <div class="flex gap-2 align-items-center">
                    <p-dropdown [options]="contactLists" [(ngModel)]="currentContactList" optionLabel="name"></p-dropdown>

                    <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                        selectedItemsLabel="{0} columns selected" [style]="{'min-width': '200px'}" placeholder="Choose Columns">
                    </p-multiSelect>

                    <button pButton pRipple label="Contact list" icon="pi pi-plus" class="p-button-success mr-2 p-2" (click)="openContactListDialog()"></button>
                    <button pButton pRipple label="Contact" icon="pi pi-plus" class="p-button-warning mr-2 p-2" (click)="openContactDialog()"></button>
                </div>    

            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        {{product[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="contactDialog" [style]="{minWidth: '500px', maxWidth:'90%'}" header="Product Details" [modal]="true" styleClass="p-fluid">
        <app-dialog-window [contactList]="contactLists" (cancel)="hideContactDialog()" (submit)="saveContact($event)"></app-dialog-window>
</p-dialog>

<p-dialog [(visible)]="contactListDialog" [style]="{ minWidth: '500px', maxWidth:'90%' }" header="Contact Information" [modal]="true" styleClass="p-fluid">
    <div *ngIf="contactList">
       <div class="field">
           <label for="name">Name</label>
           <input type="text" pInputText id="name" [(ngModel)]="contactList.name" required autofocus />
           <small class="p-error" *ngIf="submitted && !contactList.name">Name is required.</small>
       </div>
       <div class="field">
           <label for="description">Description</label>
           <input type="text" pInputText id="description" [(ngModel)]="contactList.description" required autofocus />
           <small class="p-error" *ngIf="submitted && !contactList.description">Description is required.</small>
       </div>
       <div class="flex justify-content-center">
           <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideContactListDialog()"></button>
           <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveContactList()"></button>
       </div>
    </div>
</p-dialog>

<p-confirmDialog>
    <ng-template pTemplate="header">
        <h3>Confirm dialog</h3>
    </ng-template>
</p-confirmDialog>
