/* You can add global styles to this file, and also import other style files */
html, body {
    padding: 0;
    margin: 0;
    background: var(--surface-ground);
    font-family: var(--font-family);
}
// #091a32